<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.OrderProductRelationMapper">
  <resultMap id="OrderProductResultMap" type="com.entity.OrderProductRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_num" jdbcType="INTEGER" property="productNum" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_product_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.OrderProductRelation">
    insert into order_product_relation (id, order_id, product_id,
      product_num)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER},
      #{productNum,jdbcType=INTEGER})
  </insert>
    <!--插入订单商品数据-->
    <insert id="insertOPRs">
      insert into order_product_relation (order_id, product_id,product_num,price,model)
      values
        <foreach collection="products" item="product"  separator=",">
          (#{orderId,jdbcType=INTEGER}, #{product.productId,jdbcType=INTEGER},
          #{product.num,jdbcType=INTEGER},#{product.preferentialPrice,jdbcType=DECIMAL},#{product.model,jdbcType=VARCHAR})
        </foreach>

    </insert>
    <update id="updateByPrimaryKey" parameterType="com.entity.OrderProductRelation">
    update order_product_relation
    set order_id = #{orderId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      product_num = #{productNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="OrderProductResultMap">
    select id, order_id, product_id, product_num
    from order_product_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="OrderProductResultMap">
    select id, order_id, product_id, product_num
    from order_product_relation
  </select>
</mapper>
